<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
    .ui-dialog .ui-dialog-content {
      border-radius: 20px;
      border: 1px solid #ccc;
    }

     .green-button {
          background-color: green !important;
          color: white !important;
          border-radius: 5px !important;
          padding: 20px !important;
          text-align: center !important;
          cursor: pointer !important;
        }
        
        .green-button:hover {
          opacity: 0.9 !important;
        }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field v-model="name" label="Nombre" :disabled="loader" :rules="nameRules" outlined>
                </v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field v-model="dni" label="DNI" :disabled="loader" :rules="dniRules" outlined></v-text-field>
              </v-col>
              
            </v-row>


            <v-row>

              <!-- <v-col cols="12" md="6">
                <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="dob"
                  transition="scale-transition" offset-y min-width="auto">
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field label="Fecha de Nacimiento" :disabled="loader" v-model="dob" :rules="dobRules"
                      readonly outlined v-bind="attrs" v-on="on"></v-text-field>
                  </template>
                  <v-date-picker v-model="dob" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(dob)">
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col> -->

            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field v-model="codeArea" :disabled="loader" label="Cód. Área* (sin 0)" :rules="codeAreaRules" outlined pattern="[0-9]*">
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="phone" :disabled="loader" label="Celular* (sin 15)" :rules="phoneRules" outlined pattern="[0-9]*">
                </v-text-field>
                
              </v-col>
            </v-row>

            <v-row>
    
              <v-col cols="12" md="6">
                <v-text-field v-model="email" :disabled="loader" label="Email" :rules="emailRules" outlined>
                </v-text-field>
              </v-col>
              <!-- <v-col cols="12" md='6'>
                <v-radio-group :disabled="loader" v-model="urgency">
                  <v-radio v-for="(item, index) in urgencyList" :key="index" :label="`${item.display}`"
                    :value="item.id">item</v-radio>
                </v-radio-group>

              </v-col> -->

                <v-col cols="12" md="6">
                  <v-autocomplete v-model="bank" :disabled="loader" label="Banco" :items="banksList" :rules="bankRules" outlined placeholder="Banco" :item-value="'id'" :item-text="'display'">
                    <template v-slot:item="{ item }">
                      {{ item.display }}
                    </template>
                    <template v-slot:selection="{ item }">
                      {{ item.display }}
                    </template>
                  </v-autocomplete>
                </v-col>
              
            </v-row>
            <v-btn v-if="!loader" @click="validate" class="green-button">Solicitar préstamo</v-btn>

            <v-progress-circular v-else indeterminate color="primary"></v-progress-circular>

          </v-form>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>


  function checkAprobado(pRpta) {
    // the P_Rpta field returns a string in the format:
    // <P_Rpta>[N][NCVP]</P_Rpta>
    // where N means if the loan is rejected (N = Not rejected, S = rejected) and the second value tells the type of aprobation.
    // we need to extract those two values from the string
    
    // check if the string "[N]" exists in the pRpta
    const isNotRejected = pRpta.includes("[N]");

    return !isNotRejected;
  }

  // Call the function to parse the SOAP response
  //parseSOAPResponse(soapResponse);
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      data() {
        return {
          valid: true,
          loader: false,
          urgency: 'quick',
          urgencyList: [
            { id: 'quick', display: 'Necesito que se comuniquen lo antes posible' },
            { id: 'quietly', display: 'No hay apuro solo estoy averiguando' },
          ],
          typeOfIncomeList: [
            'Empleado en negro',
            'Plan social',
            'Empleado Publico Nacional',
            'Empleado Publico Provincial',
            'Empleado Publico Municipal',
            'Empleado Privado',
            'Jubilado o Pensionado de ANSES',
            'Jubilado o Pensionado de IPS',
            'Monotributista o Responsable inscripto',
          ],
          typeOfIncome: '',
          typeOfIncomeRules: [v => !!v || 'El tipo de ingreso es requerido',],
          menu: false,
          demo: 'Una demo',
          name: '',
          nameRules: [
            v => !!v || 'El Nombre es requerido'
          ],
          lastName: '',
          lastNameRules: [
            v => !!v || 'El Apellido es requerido',
          ],
          dob: '',
          dobRules: [
            v => !!v || 'La fecha de Nacimiento es requerida',
          ],
          dni: '',
          dniRules: [
            v => !!v || 'DNI es requerido',
            v => /^[\d]{1,3}\.?[\d]{3,3}\.?[\d]{3,3}$/.test(v) || 'DNI no valido',
            v => (v && v.length == 8) || 'El DNI debe tener 8 Digitos',
          ],

          email: '',
          emailRules: [
            v => !!v || 'El email es requerido',
            v => /.+@.+\..+/.test(v) || 'email no valido',
          ],

            phone: '',
            phoneRules: [
            v => !!v || 'El Celular es requerido',
            v => /^\d{0,8}$/.test(v) || 'El Celular debe tener máximo 8 dígitos',
            v => /^[0-9]*$/.test(v) || 'El Celular debe ser un número',
            // add a rule that checks the length of the phone number based on the area code
            v => {
              const areaCode = this.codeArea;
              const phoneLength = v.length;
              if (areaCode === '11') {
                return phoneLength === 8 || 'El Celular debe tener 8 dígitos';
              } else if (areaCode.length === 3) {
                return phoneLength === 7 || 'El Celular debe tener 7 dígitos';
              } else if (areaCode.length === 4) {
                return phoneLength === 6 || 'El Celular debe tener 6 dígitos';
              }
              return true;
            },
            ],

            codeArea: '',
            codeAreaRules: [ 
            v => !!v || 'El Codigo de Area es requerido',
            v => /^\d{0,4}$/.test(v) || 'El Codigo de Area debe tener máximo 4 dígitos',
            v => /^[0-9]*$/.test(v) || 'El Codigo de Area debe ser un número',
            ],

          bank: '',
          bankRules: [
            v => !!v || 'El banco es requerido',
          ],

          amount: '',
          amountRules: [
            v => !!v || 'El Monto de Area es requerido',
            v => /^[0-9]+([,-.][0-9]+)?$/.test(v) || 'Monto no valido',
          ],

          amountDestination: '',
          amountDestinationRules: [
            v => !!v || 'El destino del Monto de Area es requerido',
          ],

         banksList: [
          { id: 2, display: "NO COBRO POR BANCO"},
    { id: 7, display: "BANCO DE GALICIA Y BUENOS AIRES S.A.U." },
    { id: 11, display: "BANCO DE LA NACION ARGENTINA" },
    { id: 14, display: "BANCO DE LA PROVINCIA DE BUENOS AIRES" },
    { id: 15, display: "INDUSTRIAL AND COMMERCIAL BANK OF CHINA" },
    { id: 16, display: "CITIBANK N.A." },
    { id: 17, display: "BANCO BBVA ARGENTINA S.A." },
    { id: 20, display: "BANCO DE LA PROVINCIA DE CORDOBA S.A." },
    { id: 27, display: "BANCO SUPERVIELLE S.A." },
    { id: 29, display: "BANCO DE LA CIUDAD DE BUENOS AIRES" },
    { id: 34, display: "BANCO PATAGONIA S.A." },
    { id: 44, display: "BANCO HIPOTECARIO S.A." },
    { id: 45, display: "BANCO DE SAN JUAN S.A." },
    { id: 65, display: "BANCO MUNICIPAL DE ROSARIO" },
    { id: 72, display: "BANCO SANTANDER ARGENTINA S.A." },
    { id: 83, display: "BANCO DEL CHUBUT S.A." },
    { id: 86, display: "BANCO DE SANTA CRUZ S.A." },
    { id: 93, display: "BANCO DE LA PAMPA SOCIEDAD DE ECONOMÍA M" },
    { id: 94, display: "BANCO DE CORRIENTES S.A." },
    { id: 97, display: "BANCO PROVINCIA DEL NEUQUÉN SOCIEDAD ANÓ" },
    { id: 131, display: "BANK OF CHINA LIMITED SUCURSAL BUENOS AI" },
    { id: 143, display: "BRUBANK S.A.U." },
    { id: 147, display: "BIBANK S.A." },
    { id: 150, display: "HSBC BANK ARGENTINA S.A." },
    { id: 158, display: "OPEN BANK ARGENTINA S.A." },
    { id: 165, display: "JPMORGAN CHASE BANK, NATIONAL ASSOCIATIO" },
    { id: 191, display: "BANCO CREDICOOP COOPERATIVO LIMITADO" },
    { id: 198, display: "BANCO DE VALORES S.A." },
    { id: 247, display: "BANCO ROELA S.A." },
    { id: 254, display: "BANCO MARIVA S.A." },
    { id: 259, display: "BANCO BMA S.A.U." },
    { id: 266, display: "BNP PARIBAS" },
    { id: 268, display: "BANCO PROVINCIA DE TIERRA DEL FUEGO" },
    { id: 269, display: "BANCO DE LA REPUBLICA ORIENTAL DEL URUGU" },
    { id: 277, display: "BANCO SAENZ S.A." },
    { id: 281, display: "BANCO MERIDIAN S.A." },
    { id: 285, display: "BANCO MACRO S.A." },
    { id: 299, display: "BANCO COMAFI SOCIEDAD ANONIMA" },
    { id: 300, display: "BANCO DE INVERSION Y COMERCIO EXTERIOR S" },
    { id: 301, display: "BANCO PIANO S.A." },
    { id: 305, display: "BANCO JULIO SOCIEDAD ANONIMA" },
    { id: 309, display: "BANCO RIOJA SOCIEDAD ANONIMA UNIPERSONAL" },
    { id: 310, display: "BANCO DEL SOL S.A." },
    { id: 311, display: "NUEVO BANCO DEL CHACO S. A." },
    { id: 312, display: "BANCO VOII S.A." },
    { id: 315, display: "BANCO DE FORMOSA S.A." },
    { id: 319, display: "BANCO CMF S.A." },
    { id: 321, display: "BANCO DE SANTIAGO DEL ESTERO S.A." },
    { id: 322, display: "BANCO INDUSTRIAL S.A." },
    { id: 330, display: "NUEVO BANCO DE SANTA FE SOCIEDAD ANONIMA" },
    { id: 331, display: "BANCO CETELEM ARGENTINA S.A." },
    { id: 332, display: "BANCO DE SERVICIOS FINANCIEROS S.A." },
    { id: 338, display: "BANCO DE SERVICIOS Y TRANSACCIONES S.A." },
    { id: 339, display: "RCI BANQUE S.A." },
    { id: 340, display: "BACS BANCO DE CREDITO Y SECURITIZACION S" },
    { id: 341, display: "BANCO MASVENTAS S.A." },
    { id: 384, display: "WILOBANK S.A.U." },
    { id: 386, display: "NUEVO BANCO DE ENTRE RÍOS S.A." },
    { id: 389, display: "BANCO COLUMBIA S.A." },
    { id: 426, display: "BANCO BICA S.A." },
    { id: 431, display: "BANCO COINAG S.A." },
    { id: 432, display: "BANCO DE COMERCIO S.A." },
    { id: 435, display: "BANCO SUCREDITO REGIONAL S.A.U." },
    { id: 448, display: "BANCO DINO S.A." },
    { id: 44077, display: "COMPAÑIA FINANCIERA ARGENTINA S.A." },
    { id: 44088, display: "VOLKSWAGEN FINANCIAL SERVICES COMPAÑIA F" },
    { id: 44090, display: "IUDU COMPAÑÍA FINANCIERA S.A." },
    { id: 44092,

 display: "FCA COMPAÑIA FINANCIERA S.A." },
    { id: 44093, display: "GPAT COMPAÑIA FINANCIERA S.A.U." },
    { id: 44094, display: "MERCEDES-BENZ COMPAÑÍA FINANCIERA ARGENT" },
    { id: 44095, display: "ROMBO COMPAÑÍA FINANCIERA S.A." },
    { id: 44096, display: "JOHN DEERE CREDIT COMPAÑÍA FINANCIERA S." },
    { id: 44098, display: "PSA FINANCE ARGENTINA COMPAÑÍA FINANCIER" },
    { id: 44099, display: "TOYOTA COMPAÑÍA FINANCIERA DE ARGENTINA" },
    { id: 45030, display: "NARANJA DIGITAL COMPAÑÍA FINANCIERA S.A." },
    { id: 45056, display: "MONTEMAR COMPAÑIA FINANCIERA S.A." },
    { id: 45072, display: "REBA COMPAÑIA FINANCIERA S.A." },
    { id: 65203, display: "CREDITO REGIONAL COMPAÑIA FINANCIERA S.A." }
]
        }
      },
      methods: {
        async validate() {
          this.loader = true
          if (this.$refs.form.validate()) {

            const params = {
              usucod: 998,
              name: this.name,
              lastname: '',
              amount: 11,
              dni: this.dni,
              areacode: this.codeArea,
              phone: this.phone,
              email: this.email,
              amountdestination: this.amountDestination,
              urgency: 'quietly',
              saleschannel: 'plider',
              version: 'plider',
              campaign: 'plider',
              bank: this.bank,
              typeofincome: '',
              saleschannel: ''
            }
            const options = {
              method: 'POST',
              //mode:'no-cors'
            };

          fetch('https://proxy.prestamolider.com/soap?' + new URLSearchParams(params), options)
              .then(response => {
                this.loader = false;
                //console.log(response.body)

                return response.json();
              }).then(data => {
                  //console.log(data.content.Respuesta.P_Rpta)

                  const respuesta = data.content.Respuesta;

                  // check if P_Rpta is present in the response
                  if (!respuesta || respuesta == 'Error') {
                    $("<div>").attr("title", "Error")
                      .text("Hubo un error al procesar tu solicitud, por favor intenta nuevamente.")
                      .dialog({
                        buttons: {
                          "Cerrar": function() {
                            $(this).dialog("close");
                          }
                        },
                        open: function(event, ui) {
                          // Add rounded styles to dialog container
                          $(this).parent().addClass("rounded-dialog");
                        }
                      });
                    return;
                  }

                  const isRejected = checkAprobado(respuesta.P_Rpta);

                  if (isRejected) {
                    $("<div>").attr("title", "Gracias por contactarnos")
                      .text("Por el momento no calificas para un crédito, podes consultar siguiendo el siguiente enlace:")
                      .dialog({
                        buttons: {
                          "El ABC para obtener un prestamo": {
                            text: "El ABC para obtener un prestamo",
                            class: "green-button",
                            click: function() {
                              window.open("https://prestamolider.com/el-abc-para-obtener-un-prestamo-pasos-practicos-para-aumentar-tus-probabilidades-de-aprobacion/");
                              $(this).dialog("close");
                            }
                          }
                        },
                        open: function(event, ui) {
                          // Add rounded styles to dialog container
                          $(this).parent().addClass("rounded-dialog");
                        }
                      });
                  } else {
                    $("<div>").attr("title", "Gracias por contactarnos")
                      .text("Completaste exitosamente el primer paso, has click aqui para continuar.")
                      .dialog({
                        buttons: {
                          "Escribir mensaje": {
                            text: "CONTINUAR",
                            class: "green-button",
                            click: function() {
                              window.open("https://wa.link/eacp40");
                              $(this).dialog("close");
                            }
                          }
                        },
                        open: function(event, ui) {
                          // Add rounded styles to dialog container
                          $(this).parent().addClass("rounded-dialog");
                        }
                      });
                  }


                //});

                /* const respuesta = json.content.Respuesta;

                // check if P_Rpta is present in the response
                if (!respuesta || !respuesta.P_Rpta || respuesta.P_Rpta === "" || respuesta == 'Error') {
                  $("<div>").attr("title", "Error")
                    .text("Hubo un error al procesar tu solicitud, por favor intenta nuevamente.")
                    .dialog({
                      buttons: {
                        "Cerrar": function() {
                          $(this).dialog("close");
                        }
                      },
                      open: function(event, ui) {
                        // Add rounded styles to dialog container
                        $(this).parent().addClass("rounded-dialog");
                      }
                    });
                  return;
                }

                const isRejected = checkAprobado(respuesta.P_Rpta);

                if (isRejected) {
                  $("<div>").attr("title", "Rechazado")
                    .text("Por el momento no calificas para un crédito, podes consultar más adelante.")
                    .dialog({
                      buttons: {
                        "Cerrar": function() {
                          $(this).dialog("close");
                        }
                      },
                      open: function(event, ui) {
                        // Add rounded styles to dialog container
                        $(this).parent().addClass("rounded-dialog");
                      }
                    });
                } else {
                  $("<div>").attr("title", "Gracias por contactarnos")
                    .text("Completaste exitosamente el primer paso, has click aqui para continuar.")
                    .dialog({
                      buttons: {
                        "Escribir mensaje": {
                          text: "CONTINUAR",
                          class: "green-button",
                          click: function() {
                            window.open("https://wa.link/eacp40");
                            $(this).dialog("close");
                          }
                        }
                      },
                      open: function(event, ui) {
                        // Add rounded styles to dialog container
                        $(this).parent().addClass("rounded-dialog");
                      }
                    });
                } */
                // confirm("Gracias por contactarnos, en breve nos comunicaremos con usted. <br> Escribirnos por mensaje haciendo click en el botón");
                // var button = document.createElement("button");
                // button.style.backgroundColor = "green";
                // button.style.color = "white";
                // button.style.marginTop = "10px";
                // button.innerHTML = "WhatsApp";
                // button.onclick = function() {
                //     window.location.href = "https://wa.link/1bkycs";
                // };
                // document.body.appendChild(button);

              })
              .catch(err => {
                this.loader = false
                console.log(err)
              });
          } else {
            this.loader = false
          }
        },
      },
    })

  </script>
</body>

</html>
